.btn-volver, .btn-lista-movies{
	margin: 10px;
	padding: .8rem;
	background-color: rgba(94, 94, 211, 0.445);
	color: white;
	font-weight: 700;
	border-radius: 1rem;
	text-decoration: none;
}
.btn-volver:hover{
	background-color:  #137c32;
}
.poster-container img{
	width: 250px;
	display: none;
}
.detalle-pelicula{
	/* display: flex;
	justify-content: space-around; */
	color: white;
	padding: 2rem;
}
.fav-movie{
	max-width: 25%;
	padding: .7rem;
	border-radius: 2em;
	border: 1px solid white;
	font-weight:bolder;
	font-size:15px;
	color:white;
	background-color: rgba(31, 0, 80, 0.836);
	cursor: pointer;
	box-shadow: 0px 0px 10px 0px rgba(248, 248, 248, 0.98);}
.fav-movie:hover{
	background-color: green;
	transform: scale(1.05);
}
.fav-movie.alternate:hover {
	background-color: #e63030; /* Color rojo en hover */
	transform: scale(1.05);
  }
  
.info-pelicula{
	max-width: 750px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	background-color: rgba(46, 46, 46, 0.596);
	backdrop-filter: blur(5px);
	border-radius: 3rem;
}

.info-pelicula .seccion,
.info-pelicula .meta-info{
	margin: 1rem;
}

.similares-container{
	margin: 5%;
	padding: 5%;
	color: aliceblue;
	background-color: rgba(46, 46, 46, 0.349);
	border-radius: 2rem;

	
}

#similares-peliculas{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.pelicula-similar{
	margin: 10px;
	padding: 5%;
	justify-content: center;
	text-align: center;
}
.pelicula-similar a img{
	border-radius: 2rem;
	border: 3px solid white;
}
.pelicula-similar a{
	color: aliceblue;
}
.actores-container{
    margin: 5%;
    padding: 5%;
    color: aliceblue;
    background-color: rgba(46, 46, 46, 0.349);
    border-radius: 2rem;
}

.actor{
	padding:  15%;
}
.actores-container img{
	border-radius: 2rem;
	border: 3px solid rgba(255, 255, 255, 0.877);

}
.actores-grid{
	/* display: flex;
	justify-content: space-around; */
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
@media (max-width:450px){
	.actor img{
		max-width: 100px;
	}
	.actor-info{
		font-size: .8rem;
	}
	.actores-grid{
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
	#similares-peliculas{
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

	}
	.pelicula-similar  img{
		max-width: 100px;
	}
	.pelicula-similar h4{
		font-size: .8rem;
	}
	h2{
		text-align: center;
	}
	.btn-lista-movies, .btn-volver{
		font-size: .8rem;
	}
	.info-pelicula{
		font-size: .8rem;
	}
	.fav-movie{
		max-width: 100%;
		font-size: .8rem;
	}
}

